#Terraform
.Terraform
.Terraform.lock.hcl
Terraform.tfstate
Terraform.tfstate.backup
secrets.tfvars

# Stack Config
docker-compose-wireguard.yml
docker.env
acme.json

# Ansible Playbooks
secrets.yml

#Rclone
Rclone.Conf

#Code Editor
.vscode